body{
    background-color: #000;
    overflow: hidden;
    margin: auto auto;
}

a {
    text-align: center;
    color: #fff;
    display: block;
    text-decoration: none;
    font-size: 60px;
    clear: both;
}

.numbers {
    position: relative;
    width: 400px;
    margin: auto auto;
}
